<main class="grid grid-flow-row-dense grid-cols-5 h-screen">
    <section
        class="col-span-5 block absolute -translate-x-[200%] z-10 min-w-[90vw] bg-white transition-transform ease-in-out duration-500 rounded-lg h-full lg:col-span-1 lg:block lg:relative lg:-translate-x-0 lg:min-w-0"
        [ngClass]="{'-translate-x-[0%]': sidebarHabilitada}">
        <div
            class="lg:hidden absolute top-4 right-[-1.25rem] bg-blue-uai rounded-full w-10 h-10 flex flex-col items-center justify-center">
            <fa-icon [icon]="close" class="text-xl text-white" (click)="sidebarHabilitada = false"></fa-icon>
        </div>
        <app-chat-sidebar (onChatSelecionado)="carregarMensagens($event)" (onTituloCriado)="criarChat($event)" [topicos]="topicos"></app-chat-sidebar>
    </section>


    <section class="col-span-5 lg:col-span-4 bg-blue-light-uai flex flex-col"
        [ngClass]="{'blur-sm': sidebarHabilitada}">
        <div class="py-2 bg-blue-light-uai shadow-md z-10">
            <div class="flex justify-between items-center px-6">
                <div>
                    <img src="../../../assets/imgs/logotipo.svg" class="h-14 w-14 hidden lg:block" alt="Logo uAI" />
                    <fa-icon [icon]="bars" class="text-xl text-blue-uai block lg:hidden"
                        (click)="sidebarHabilitada = true"></fa-icon>
                </div>

                <div class="flex justify-between items-center">
                    <span class="font-semibold mr-3">{{nomeUsuario}}</span>
                    <div class="flex justify-center rounded-full bg-purple-uai-50 p-3 w-12 h-12">
                        <img src="../../../assets/imgs/person.svg" class="h-15 w-15" alt="Icone usuário" />
                    </div>
                    <div class="flex justify-center rounded-xl bg-purple-uai p-2 ml-6 cursor-pointer"
                        [routerLink]="['/modulo']">
                        <img src="../../../assets/imgs/arrow_back.svg" class="h-4 w-4" alt="Icone seta para voltar" />
                    </div>
                </div>
            </div>
        </div>


        <div class="lg:px-12 px-3 bg-blue-light-uai flex-grow flex flex-col">
            <div #chatbox class="overflow-y-scroll w-full flex-grow max-h-[78vh]" style="scrollbar-width: none;">

                <div *ngFor="let mensagem of mensagens;" class="flex gap-3 items-end my-6"
                    [ngClass]="{'justify-end': mensagem.origemMensagem === 'USUARIO_ABERTURA'}">

                    <div class="flex justify-center rounded-full bg-blue-uai p-2 w-10 h-10"
                        *ngIf="mensagem.origemMensagem !== 'USUARIO_ABERTURA'">
                        <img src="../../../assets/imgs/icon-logo-white.svg" class="h-15 w-15" alt="Icone uAi" />
                    </div>

                    <div class="bg-blue-uai-10 p-3 rounded-tr-lg rounded-tl-lg rounded-br-lg break-words w-max"
                        *ngIf="mensagem.origemMensagem !== 'USUARIO_ABERTURA'">
                        <span>{{ mensagem.texto}}</span>
                    </div>

                    <div class="bg-blue-uai-10 p-3 rounded-tr-lg rounded-tl-lg rounded-bl-lg break-words w-max"
                        *ngIf="mensagem.origemMensagem === 'USUARIO_ABERTURA'">
                        <span>
                            {{ mensagem.texto }}
                        </span>
                    </div>

                    <div class="flex justify-center rounded-full bg-purple-uai-50 p-2 w-10 h-10"
                        *ngIf="mensagem.origemMensagem === 'USUARIO_ABERTURA'">
                        <img src="../../../assets/imgs/person.svg" class="h-15 w-15" alt="Icone uAi" />
                    </div>

                </div>
            </div>

            <div class="flex items-center flex-col">
                <!-- <div>

                </div> -->

                <!-- <div class="overflow-y-scroll" style="scrollbar-width: none;">
                    <h4 class="text-4xl font-semibold text-gray-600">Olá, nome da pessoa! <br> Como posso ajudar?</h4>

                </div> -->
                <div class="w-full flex justify-end items-center lg:mb-7 mb-10">
                    <input placeholder="Digite uma pergunta para o uAI" [formControl]="mensagemFormControl"
                        class="border shadow-md rounded-full py-3 px-4 w-full placeholder-gray-400"
                        (keyup.enter)="enviarMensagem()" />
                    <div class="absolute bg-blue-uai p-3 rounded-full mr-1.5 cursor-pointer" (click)="enviarMensagem()">
                        <img src="../../../assets/imgs/send.svg" class=" w-4 h-4 " alt="Icone de lupa" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>