<main class="grid grid-flow-row-dense grid-cols-5">
    <section class="col-span-1">
        <div>
            <div class="flex justify-start flex-col p-6">
                <div class="mb-12">
                    <button class="flex gap-4 justify-center rounded-full items-center shadow-md">
                        <div class="bg-blue-uai rounded-s-full py-2 px-3">
                            <img class="h-4 w-4" src="../../../assets/imgs/add.svg">
                        </div>
                        <div class="rounded-e-full pr-3">
                            <span class="text-blue-uai font-medium">Nova conversa</span>
                        </div>
                    </button>
                </div>
                <div class="mb-6">
                    <h4 class="text-2xl font-semibold text-blue-uai">Recentes</h4>
                </div>

                <div class=" flex justify-end items-center relative">
                    <input placeholder="Pesquisar"
                        class="border shadow-md rounded-full py-1 px-4 w-full placeholder-gray-400" />
                    <div class="absolute bg-blue-uai p-1.5 rounded-full mr-1">
                        <img src="../../../assets/imgs/mystery.svg" class=" w-4 h-4 " alt="Icone de lupa" />
                    </div>
                </div>
            </div>

            <hr>
            <div class="px-6" *ngFor="let topico of topicos">
                <div
                    class="flex justify-center items-center rounded-xl p-3 transition-colors duration-300 hover:bg-blue-uai-10">
                    <div class="mr-3">
                        <img src="../../../assets/imgs/chat_bubble.svg" class="w-4 h-4" alt="Icone de chat" />
                    </div>
                    <span class="font-semibold">Nome da conversa...</span>
                    <div class="bg-blue-uai-70 p-1.5 rounded-full ml-6">
                        <img src="../../../assets/imgs/close.svg" class=" w-2 h-2" alt="Icone de fechar" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="col-span-4 bg-blue-light-uai shadow-md">
        <div class="px-6 py-1 bg-blue-light-uai shadow-md mb-4">
            <div class="flex justify-between items-center">
                <div class="">
                    <img src="../../../assets/imgs/logotipo.svg" class="h-14 w-14" alt="Logo uAI" />
                </div>

                <div class="flex justify-between items-center">
                    <span class="font-semibold mr-3">Nome pessoa</span>
                    <div class="flex justify-center rounded-full bg-purple-uai-50 p-3 w-12 h-12">
                        <img src="../../../assets/imgs/person.svg" class="h-15 w-15" alt="Icone usuário" />
                    </div>
                    <div class="flex justify-center rounded-xl bg-purple-uai p-2 ml-6">
                        <img src="../../../assets/imgs/arrow_back.svg" class="h-4 w-4" alt="Icone seta para voltar" />
                    </div>
                </div>
            </div>
        </div>


        <div class="h-[91.5vh] px-12 bg-blue-light-uai">
            <div class="flex items-center h-full flex-col justify-between">
                <!-- <div>

                </div> -->

                <!-- <div class="overflow-y-scroll" style="scrollbar-width: none;">
                    <h4 class="text-4xl font-semibold text-gray-600">Olá, nome da pessoa! <br> Como posso ajudar?</h4>

                </div> -->
                <div class="overflow-y-scroll" style="scrollbar-width: none;">
                    <div class="flex gap-3 items-end my-6 justify-end">
                        <div
                            class="bg-blue-uai-10 p-3 rounded-tr-lg rounded-tl-lg rounded-bl-lg break-words w-1/2">
                            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi maiores tenetur,
                                blanditiis
                                debitis laudantium ex voluptate consectetur iste dignissimos debitis laudantium ex voluptate
                                consectetur iste dignissimos facilis! debitis laudantium ex voluptate consectetur iste dignissimos
                            </span>
                        </div>

                        <div class="flex justify-center rounded-full bg-purple-uai-50 p-2 w-10 h-10">
                            <img src="../../../assets/imgs/person.svg" class="h-15 w-15" alt="Icone uAi" />
                        </div>
                    </div>

                    <div class="flex gap-3 items-end my-6">
                        <div class="flex justify-center rounded-full bg-blue-uai p-2 w-10 h-10">
                            <img src="../../../assets/imgs/icon-logo-white.svg" class="h-15 w-15" alt="Icone uAi" />
                        </div>
    
                        <div
                            class="bg-blue-uai-10 p-3 rounded-tr-lg rounded-tl-lg rounded-br-lg break-words w-1/2">
                            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi maiores tenetur,
                                blanditiis
                                debitis laudantium ex voluptate consectetur iste dignissimos debitis laudantium ex voluptate
                                consectetur iste dignissimos facilis! debitis laudantium ex voluptate consectetur iste dignissimos
                            </span>
                        </div>
                    </div>

                    

                    
                </div>


                <div class="w-full flex justify-end items-center relative mb-7">
                    <input placeholder="Digite uma pergunta para o uAI"
                        class="border shadow-md rounded-full py-3 px-4 w-full placeholder-gray-400" />
                    <div class="absolute bg-blue-uai p-3 rounded-full mr-1.5">
                        <img src="../../../assets/imgs/send.svg" class=" w-4 h-4 " alt="Icone de lupa" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>