<app-header></app-header>
<div class="fixed -translate-y-[200%] left-1/2 -translate-x-1/2 rounded-lg z-50 w-[80vw] lg:w-[30vw] bg-white p-3 transition-transform ease-in-out duration-700"
    [ngClass]="{'translate-y-[50%]': novoChat}">
    <header class="px-3 flex justify-between w-full">
        <h1 class="text-xl font-semibold">Nova conversa</h1>
        <fa-icon [icon]="close" class="cursor-pointer text-lg" (click)="novoChat = false"></fa-icon>
    </header>
    <section class="mt-3 border-t-2 flex flex-col">
        <input type="text" placeholder="Digite o título da conversa..." [formControl]="tituloChatFormControl"
            class="self-center my-6 border shadow-md rounded-full py-3 px-4 w-full placeholder-gray-400"
            [ngClass]="{'border-red-600 focus:border-red-600 focus:outline-red-600': submitted && tituloChatFormControl.errors}" />

        <button class="bg-blue-uai py-2 px-5 rounded-full text-white mt-3 self-center mb-3" (click)="criarChat()">
            Iniciar
        </button>
    </section>
</div>
<main *ngIf="!isLoading || rendered; else loadingTemplate" [ngClass]="{'blur-sm': novoChat}">
    <section class="relative">
        <img src="../../../assets/imgs/module-bg.png" class="w-full hidden sm:block" alt="Background Image" />
        <img src="../../../assets/imgs/module-bg-sm.png" class="w-full block sm:hidden" alt="Background Image Mobile" />
        <div class="absolute inset-0 flex justify-center sm:justify-start items-center text-white">
            <div class="ml-0 sm:ml-16 text-center sm:text-start">
                <h2 class="text-3xl sm:text-6xl">Mãe, garanta o <br> <span class="font-bold">sucesso escolar</span> <br>
                    do seu filho!</h2>
                <p class="mt-6 text-xl sm:text-3xl">Módulo educação já <br> disponível!</p>
            </div>
        </div>
    </section>

    <section class="flex flex-col justify-center items-center px-16 bg-blue-light-uai">
        <div>
            <h2 class="text-3xl sm:text-5xl text-blue-uai my-16 font-bold">Módulos</h2>
        </div>

        <div
            class="flex sm:grid sm:w-auto overflow-x-auto overflow-scrollbar-hidden sm:overflow-x-hidden sm:auto-rows-fr grid-cols-3 gap-7 w-[20rem]">

            <div class="min-w-[17rem] p-6 rounded-3xl bg-blue-uai flex items-center flex-col cursor-pointer"
                (click)="novoChat = true; idNecessidadeSelecionada = moduloEducacao.id">
                <div class="flex justify-center w-fit rounded-xl bg-white-uai p-3 mb-6">
                    <img src="../../../assets/imgs/book_4.svg" class="h-4 w-4 sm:h-8 sm:w-8" alt="icon de livro" />
                </div>

                <div class="text-white-uai flex items-center flex-col">
                    <h3 class="text-xl sm:text-2xl font-bold mb-2">{{moduloEducacao.nome}}</h3>
                    <p class="text-center">{{moduloEducacao.descricao}}</p>
                </div>
            </div>

            <div
                class="min-w-[17rem] flex justify-center items-center bg-gray-gradient p-6 rounded-3xl cursor-not-allowed">
                <div class="flex flex-col justify-center items-center text-center gap-y-4">
                    <img src="../../../assets/imgs/lock.svg" class="h-8 w-8" alt="icon de cadeado" />
                    <h3 class="text-2xl font-bold mb-2">Módulo 2</h3>
                    <p class="text-xl font-bold">Módulo disponível em <br> breve</p>
                </div>
            </div>

            <div
                class="min-w-[17rem] flex justify-center items-center bg-gray-gradient p-6 rounded-3xl cursor-not-allowed">
                <div class="flex flex-col justify-center items-center text-center gap-y-4">
                    <img src="../../../assets/imgs/lock.svg" class="h-8 w-8" alt="icon de cadeado" />
                    <h3 class="text-2xl font-bold mb-2">Módulo 3</h3>
                    <p class="text-xl font-bold">Módulo disponível em <br> breve</p>
                </div>
            </div>

            <div
                class="min-w-[17rem] flex justify-center items-center bg-gray-gradient p-6 rounded-3xl cursor-not-allowed">
                <div class="flex flex-col justify-center items-center text-center gap-y-4">
                    <img src="../../../assets/imgs/lock.svg" class="h-8 w-8" alt="icon de cadeado" />
                    <h3 class="text-2xl font-bold mb-2">Módulo 4</h3>
                    <p class="text-xl font-bold">Módulo disponível em <br> breve</p>
                </div>
            </div>

            <div
                class="min-w-[17rem] flex justify-center items-center bg-gray-gradient p-6 rounded-3xl cursor-not-allowed">
                <div class="flex flex-col justify-center items-center text-center gap-y-4">
                    <img src="../../../assets/imgs/lock.svg" class="h-8 w-8" alt="icon de cadeado" />
                    <h3 class="text-2xl font-bold mb-2">Módulo 5</h3>
                    <p class="text-xl font-bold">Módulo disponível em <br> breve</p>
                </div>
            </div>

            <div
                class="min-w-[17rem] flex justify-center items-center bg-gray-gradient p-6 rounded-3xl cursor-not-allowed">
                <div class="flex flex-col justify-center items-center text-center gap-y-4">
                    <img src="../../../assets/imgs/lock.svg" class="h-8 w-8" alt="icon de cadeado" />
                    <h3 class="text-2xl font-bold mb-2">Módulo 6</h3>
                    <p class="text-xl font-bold">Módulo disponível em <br> breve</p>
                </div>
            </div>
        </div>

        <div>
            <h2 class="text-3xl sm:text-5xl text-blue-uai my-16 font-bold">Chats Recentes</h2>
        </div>
    </section>

    <section class="flex flex-col items-center px-16 bg-blue-uai">
        <div class="w-full sm:w-4/5 flex justify-end items-center relative">
            <input placeholder="Pesquisar" [formControl]="pesquisaChatFormControl" type="text"
                class="border shadow-md rounded-full py-3 ps-4 pe-12 w-full placeholder-gray-400 text-xl relative bottom-7" />
            <div class="absolute bg-blue-uai p-3 rounded-full mr-1.5 cursor-pointer bottom-[34px]">
                <img src="../../../assets/imgs/mystery.svg" class=" w-4 h-4 " alt="Icone de lupa" />
            </div>
        </div>

        <div
            class="flex flex-col gap-y-3 py-6 w-full lg:max-w-[90%] max-h-[350px] overflow-y-scroll overflow-scrollbar-hidden">
            <div *ngFor="let chat of chatsRecentesFiltrados"
                class="flex items-center rounded-xl p-3 transition-colors duration-300 relative bg-blue-uai hover:bg-blue-uai-ho-35 cursor-pointer"
                [routerLink]="['/chat/necessidade/' + chat.idNecessidade]" [queryParams]="{newChatId: chat.id}">
                <div class="absolute inset-0 bg-white-uai opacity-15 rounded-xl"></div>
                <div class="grid grid-cols-12 lg:flex justify-start items-center overflow-hidden gap-2">
                    <div class="col-span-1">
                        <img src="../../../assets/imgs/chat_bubble_white.svg" class="text-white-uai lg:h-4 lg:w-4"
                            alt="Icone de chat" />
                    </div>
                    <span
                        class="font-semibold text-white-uai overflow-hidden whitespace-nowrap text-ellipsis col-span-11">{{
                        chat.titulo }}</span>
                </div>
            </div>
        </div>
    </section>
</main>

<ng-template #loadingTemplate>
    <div class="h-screen overflow-hidden flex items-center justify-center">
        <app-loading></app-loading>
    </div>
</ng-template>

<app-footer></app-footer>