.bg-gray-gradient {
    background: rgb(33, 34, 54);
    background: linear-gradient(-46deg, rgba(33, 34, 54, 0.15) 0%, rgba(13, 14, 22, 0.15) 100%);
}

.overflow-scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.overflow-scrollbar-hidden {
    scrollbar-width: none;
}