<div id="container"
    class="lg:grid lg:grid-cols-12 lg:before:w-[100vw] lg:before:h-[100vw] lg:before:left-0 lg:before:-translate-y-[45%] lg:before:-translate-x-[50vw] h-screen w-screen fixed z-0 lg:overflow-hidden overflow-x-hidden before:content-[''] before:w-[93rem] before:h-[93rem] before:bg-blue-uai before:absolute before:-z-10 before:rounded-full before:left-1/2 before:-translate-x-1/2 before:-translate-y-[83%] before:transition-all before:duration-[1500ms] before:ease-in-out flex flex-col"
    [ngClass]="{'lg:before:translate-x-[40%]': cadastro}">
    <div class="lg:mt-8 lg:col-span-4 lg:items-start lg:h-full transition-all duration-[1500ms] ease-in-out p-6 flex flex-col items-center"
        [ngClass]="{'lg:-translate-x-[100vw]': cadastro}">
        <header class="mt-10">
            <h1 class="lg:text-5xl text-3xl font-semibold text-center text-white">Ainda não possui cadastro?</h1>
        </header>
        <div class="lg:self-center flex items-center justify-center mt-6">
            <button class="lg:px-5 border border-white rounded-md py-2 px-10 text-xl text-white"
                (click)="cadastro = true; moveScroll()">Fazer cadastro</button>
        </div>
        <div class="hidden lg:block lg:mt-6 lg:shadow-black lg:drop-shadow-2xl">
            <img class="" src="../../../assets/imgs/login-cadastro/imagem-mockup-uAI2.png"
                alt="mockup de um notebook e celular com a tela de principal do uAI." class="image">
        </div>
    </div>

    <div class="lg:col-span-4 lg:ms-[70%] lg:h-full lg:flex lg:flex-col lg:justify-center w-full relative transition-all duration-[1500ms] ease-in-out flex-grow pt-8 lg:pt-0"
        [ngClass]="{'lg:-translate-x-[100vw] lg:-translate-y-0 lg:-z-20': cadastro}">
        <h2 class="lg:text-5xl text-center font-semibold text-blue-uai text-3xl">Bem vindo!</h2>
        <small class="lg:text-xl lg:mt-2 text-blue-uai text-center block text-sm font-semibold opacity-70">Faça seu
            login para
            continuar</small>

        <form class="lg:mt-20 w-full mt-8">
            <div class="w-full px-10">
                <input type="text"
                    [class.errors]="cpfFormControl.invalid && (cpfFormControl.dirty || cpfFormControl.touched)"
                    mask="000.000.000-00" class="rounded-full w-full bg-zinc-200 border border-zinc-300 px-5"
                    [dropSpecialCharacters]="false" placeholder="CPF *" [formControl]="cpfFormControl" required>
            </div>
            <div class="w-full px-10 mt-6 relative">
                <input [type]="mostrarSenha ? 'text' : 'password'"
                    [class.errors]="senhaFormControl.invalid && (senhaFormControl.dirty || senhaFormControl.touched)"
                    class="rounded-full w-full bg-zinc-200 border border-zinc-300 px-5" placeholder="Senha *"
                    [formControl]="senhaFormControl" required>
                <i class="fa-regular absolute top-1/2 -translate-y-1/2 right-16 text-blue-uai cursor-pointer"
                    [ngClass]="{'fa-eye': !mostrarSenha, 'fa-eye-slash': mostrarSenha}"
                    (click)="mostrarSenha = !mostrarSenha"></i>
            </div>
            <!-- <div class="mt-2">
                <p class="lg:ps-16 lg:text-start font-semibold text-center text-blue-uai">Esqueci minha senha</p>
            </div> -->

            <div class="lg:mt-16 flex flex-col mt-6 gap-3 items-center">
                <button class="lg:px-10 bg-blue-uai w-max rounded-lg px-5 py-2 text-white font-semibold"
                    (click)="login()">Entrar</button>
                <button class="text-blue-uai font-semibold flex items-center gap-2" (click)="goBackOneSCreen()">
                    <i class="fa-solid fa-arrow-left"></i>
                    <p>Voltar ao início</p>
                </button>
            </div>
        </form>
    </div>

    <div class="lg:col-span-4 lg:ms-[110%] w-full transition-all duration-[1500ms] ease-in-out flex flex-col relative mt-[100%] lg:mt-16"
        [ngClass]="{'lg:translate-y-0 lg:translate-x-[100vw]': !cadastro, 'lg:-translate-y-0 lg:-translate-x-[100vw]': cadastro}">
        <div class="lg:h-auto lg:overflow-hidden overflow-y-scroll">
            <h2 class="text-center font-semibold text-blue-uai text-3xl lg:mt-8">Olá!</h2>
            <small class="text-blue-uai text-center block text-sm font-semibold opacity-70 lg:text-lg">Faça seu cadastro
                para
                entrar no site</small>

            <form class="w-full mt-8" [formGroup]="cadastroForm">
                <div class="w-full px-10 form-group">
                    <input #nomeCompleto type="text"
                        [class.errors]="cadastroForm.get('nomeCompleto')?.invalid && (cadastroForm.get('nomeCompleto')?.dirty || cadastroForm.get('nomeCompleto')?.touched) || cadastroForm.get('nomeCompleto')?.errors?.['minlenght']"
                        class="rounded-full w-full bg-zinc-200 border border-zinc-300 px-5"
                        placeholder="Nome completo *" formControlName="nomeCompleto" name="nomeCompleto"
                        (input)="formatNomeCompleto($event)" required>
                </div>
                <div class="w-full px-10 mt-6 form-group">
                    <input #dataNascimento type="text" mask="XX/XX/XXXX" [dropSpecialCharacters]="false"
                        [class.errors]="cadastroForm.get('dataNascimento')?.invalid && (cadastroForm.get('dataNascimento')?.dirty || cadastroForm.get('dataNascimento')?.touched)"
                        class="rounded-full w-full bg-zinc-200 border border-zinc-300 px-5"
                        placeholder="Data de nascimento *" formControlName="dataNascimento" name="dataNascimento"
                        required>
                </div>
                <div class="w-full px-10 mt-6 form-group">
                    <input #cpf type="text" mask="000.000.000-00" [dropSpecialCharacters]="false"
                        [class.errors]="cadastroForm.get('cpf')?.invalid && (cadastroForm.get('cpf')?.dirty || cadastroForm.get('cpf')?.touched)"
                        class="rounded-full w-full bg-zinc-200 border border-zinc-300 px-5" placeholder="CPF *"
                        formControlName="cpf" required>
                </div>
                <div class="w-full px-10 mt-6 form-group">
                    <input #email type="email"
                        [class.errors]="cadastroForm.get('email')?.invalid && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)"
                        class="rounded-full w-full bg-zinc-200 border border-zinc-300 px-5" placeholder="E-mail *"
                        formControlName="email" required>
                </div>
                <div class="w-full px-10 mt-6 form-group">
                    <input #senha [type]="mostrarSenha ? 'text' : 'password'"
                        [class.errors]="cadastroForm.get('senha')?.invalid && (cadastroForm.get('senha')?.dirty || cadastroForm.get('senha')?.touched)"
                        class="rounded-full w-full bg-zinc-200 border border-zinc-300 px-5"
                        placeholder="Senha (mínimo 8 caracteres) *" formControlName="senha" required minlength="8">
                    <i class="fa-regular absolute top-5/7 -translate-y-5/7 mt-3 right-16 text-blue-uai cursor-pointer"
                        [ngClass]="{'fa-eye': !mostrarSenha, 'fa-eye-slash': mostrarSenha}"
                        (click)="mostrarSenha = !mostrarSenha"></i>
                </div>
                <div class="w-full px-16 mt-2 flex gap-2 items-center form-group">
                    <input class="rounded-sm border border-blue-uai cursor-pointer" type="checkbox"
                        [class.errors]="cadastroForm.get('termosUso')?.invalid && (cadastroForm.get('termosUso')?.dirty || cadastroForm.get('termosUso')?.touched)"
                        formControlName="termosUso" />
                    <p class="text-blue-uai font-semibold text-xs">
                        Li e concordo com os <a
                            class="border-b-2 border-style-dashed border-blue-500 hover:border-black hover:text-black transition-colors duration-300"
                            href="https://drive.google.com/file/d/1DK5QY4d9nvcdc7x5ZXcg1N5yuGOYX4gS/view">termos
                            de uso</a> e <a
                            class="border-b-2 border-style-dashed border-blue-500 hover:border-black hover:text-black transition-colors duration-300"
                            href="https://drive.google.com/file/d/1EauEiCQV5Uftw3NemPOBcHmffNUOSpqg/view">política de
                            privacidade.</a>
                    </p>
                </div>
                <div class=" flex justify-center mt-6">
                    <button class="bg-blue-uai w-max rounded-lg px-5 py-2 text-white font-semibold"
                        (click)="cadastrar()">Cadastrar</button>
                </div>
                <div class="flex justify-center mt-3">
                    <button class="text-blue-uai font-semibold flex items-center gap-2"
                        (click)="cadastro = !cadastro; moveScroll()">
                        <i class="fa-solid fa-arrow-left"></i>
                        <p>Voltar</p>
                    </button>
                </div>
            </form>
        </div>
        <div class="lg:absolute lg:mt-4 lg:left-[50vw] lg:transition-all lg:ease-in-out lg:duration-[1500ms] p-4 flex flex-col w-full items-center justify-end flex-grow lg:bg-transparent bg-blue-uai mt-4"
            [ngClass]=" {'lg:-translate-y-[100vh]': !cadastro}">
            <footer class="mt-6"> <!-- lg:text-white sm:text-white text-blue-uai abaixo-->
                <h1 class="lg:text-5xl text-3xl font-semibold text-center text-white">Já
                    possui
                    cadastro?</h1>
            </footer>
            <div class="flex items-center justify-center mt-6">
                <button class="border border-white rounded-md py-2 px-10 text-xl text-white"
                    (click)="cadastro = false; moveScroll()">Fazer login</button>
            </div>
            <div class="hidden lg:block lg:mt-6 lg:shadow-black lg:drop-shadow-2xl">
                <img class="shadow-black drop-shadow-xl"
                    src="../../../assets/imgs/login-cadastro/imagem-mockup-uAI2.png"
                    alt="mockup de um notebook e celular com a tela de principal do uAI." class="image">
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="isLoading" class="fixed bottom-0 right-0"></app-loading>