<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form action="#" class="sign-in-form">
                <h2 class="title">Bem-vindo!</h2>
                <p class="sub-title">Faça seu login para continuar</p>
                <div class="input-field inputs-form">
                    <input type="email" placeholder="E-mail" />
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Senha" id="senha" />
                    <i class="fa-regular fa-eye" id="olho-aberto-login"></i>
                    <i class="fa-regular fa-eye-slash" id="olho-fechado-login"></i>
                </div>
                <div class="esqueci-senha-container">
                    <a href="#" class="esqueceu-senha">Esqueci minha senha</a>
                </div>
                <input type="submit" value="Login" class="btn solid btn-forms" />
                <button class="voltar"><i class="fa-solid fa-arrow-left"></i>Voltar</button>

            </form>
            <form action="#" class="sign-up-form">
                <h2 class="title">Olá!</h2>
                <p class="sub-title">Faça seu cadastro para<br> entrar no site</p>
                <div class="input-field">
                    <input type="text" placeholder="Nome completo" />
                </div>
                <div class="input-field">
                    <input type="email" placeholder="E-mail" />
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Data de nascimento" />
                </div>
                <div class="input-field">
                    <input type="number" placeholder="CPF" />
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Senha" id="senhaCadastro" />
                    <i class="fa-regular fa-eye" id="olho-aberto-cadastro"></i>
                    <i class="fa-regular fa-eye-slash" id="olho-fechado-cadastro"></i>
                </div>
                <div class="termos-de-uso">
                    <input type="checkbox" name="termsOfUse" id="termsOfUse" class="termos-de-uso-checkbox">
                    <p class="termos-de-uso-text">Li e concordo com o termos de uso</p>
                </div>
                <input type="submit" class="btn" value="Cadastrar" />
                <button class="voltar"><i class="fa-solid fa-arrow-left"></i>Voltar</button>

            </form>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Ainda não possui<br>
                    cadastro?</h3>
                <button class="btn transparent" id="sign-up-btn">
                    Fazer cadastro
                </button>
                <img src="../../../assets/imgs/login-cadastro/imagem-mockup-uAI2.png"
                    alt="mockup de um notebook e celular com a tela de principal do uAI." class="image">
            </div>
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>Já possui cadastro?</h3>
                <button class="btn transparent" id="sign-in-btn">
                    Fazer Login
                </button>
                <img src="../../../assets/imgs/login-cadastro/imagem-mockup-uAI2.png"
                    alt="mockup de um notebook e celular com a tela de principal do uAI." class="image">
            </div>
        </div>
    </div>
</div>