<main class="">
    <!-- md:font-thin -->
    <!-- usar calc no h-screen - 4rem -->
    <div class="relative bg-blue-uai h-carousel w-full text-white-uai flex flex-grow flex-col justify-center space-y-6">

        <div *ngIf="screen_width >= 640" class="w-full h-full">
            <img src="/assets/imgs/carousel_1/2/img_{{number_img_carousel}}.svg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <!-- class="w-auto h-full bg-cover" -->
        <div *ngIf="screen_width < 640" class="w-full h-full">
            <img #elseDiv src="/assets/imgs/carousel_1/1/img_{{number_img_carousel}}.svg" alt="" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

        <div class="absolute w-full h-full flex flex-col justify-between z-10 px-10 py-24 sm:w-1/2 sm:justify-center">
            <div class="my-4">
                <h1 class="text-7xl">
                    A <span class="font-bold">tecnologia</span> que te <span class="font-bold">entende</span>!
                </h1>
            </div>
            <div class="my-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reprehenderit optio voluptas
                    labore sunt sequi libero quas nostrum architecto accusantium fuga illum dolores explicabo commodi
                    minus dolore at, totam laudantium.
                </p>
            </div>
            <div class="flex flex-col w-1/2 mx-auto pt-6 space-y-6 font-semibold sm:flex-row sm:w-full sm:space-y-0">
                <button class="bg-white-uai text-blue-uai py-2 px-5 rounded-md mr-5 sm:px-6">Começar</button>
                <button>Fazer login</button>
            </div>
        </div>
    </div>



    <section class="mt-24 sm:grid md:grid-cols-2 lg:grid-cols-4 sm:m-0">
        <div class="w-2/3 m-6 mx-auto p-2 rounded-3xl shadow-2xl sm:w-64">
            <img src="../../../assets/imgs/practicality.svg" alt="">
            <div class="pl-6 pb-4">
                <h3>Praticidade</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus doloribus aut eum.</p>
            </div>
        </div>
        <div class="w-2/3 m-6 mx-auto p-2 rounded-3xl shadow-2xl sm:w-64">
            <img src="../../../assets/imgs/acessibility.svg" alt="">
            <div class="pl-6 pb-4">
                <h3>Acessibilidade</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus doloribus aut eum.</p>
            </div>
        </div>
        <div class="w-2/3 m-6 mx-auto p-2 rounded-3xl shadow-2xl sm:w-64">
            <img src="../../../assets/imgs/knowledge.svg" alt="">
            <div class="pl-6 pb-4">
                <h3>Conhecimento</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus doloribus aut eum.</p>
            </div>
        </div>
        <div class="w-2/3 m-6 mx-auto p-2 rounded-3xl shadow-2xl sm:w-64">
            <img src="../../../assets/imgs/efficiency.svg" alt="">
            <div class="pl-6 pb-4">
                <h3>Eficiência</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus doloribus aut eum.</p>
            </div>
        </div>
    </section>



    <section class="mt-24 mb-24">
        <div class="w-2/3 mx-auto text-center space-y-8">
            <h2 class="text-purple-uai text-4xl font-semibold">Tutorial</h2>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium similique veniam sequi!</p>
            <iframe src="https://www.youtube.com/embed/1eLaBow7Zbo" frameborder="0" allowfullscreen class="w-full"
                height="300"></iframe>
        </div>
    </section>


    <section class="relative p-12 px-0 bg-purple-uai text-white">
        <div class="w-2/3 mx-auto text-center space-y-6">
            <h2 class="text-4xl font-semibold">Depoimentos</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis natus quo odio.</p>
        </div>
        <!-- <div class="pt-6 w-4/5 ml-auto">
            <div class="overflow-x-auto flex space-x-8 w-full">
                <div class="bg-white-uai text-start p-12 rounded-3xl h-full flex flex-col justify-between space-y-10">
                    <div class="w-96 flex items-center text-purple-uai">
                        <img src="../../../assets/imgs/user_1.svg">
                        <div class="ml-5">
                            <h4 class="text-2xl font-bold">Nome Completo</h4>
                            <div class="flex space-x-1">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="text-lg text-black font-semibold">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloribus aliquam praesentium."</p>                                
                    </div>
                </div>
                <div class="bg-white-uai text-start p-12 rounded-3xl h-full flex flex-col justify-between space-y-10">
                    <div class="w-96 flex items-center text-purple-uai">
                        <img src="../../../assets/imgs/user_2.svg">
                        <div class="ml-5">
                            <h4 class="text-2xl font-bold">Nome Completo</h4>
                            <div class="flex space-x-1">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="text-lg text-black font-semibold">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloribus aliquam praesentium."</p>                                
                    </div>
                </div>
                <div class="bg-white-uai text-start p-12 rounded-3xl h-full flex flex-col justify-between space-y-10">
                    <div class="w-96 flex items-center text-purple-uai">
                        <img src="../../../assets/imgs/user_3.svg">
                        <div class="ml-5">
                            <h4 class="text-2xl font-bold">Nome Completo</h4>
                            <div class="flex space-x-1">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                                <img src="../../../assets/imgs/star.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="text-lg text-black font-semibold">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloribus aliquam praesentium."</p>                                
                    </div>
                </div>
            </div>
        </div> -->
        <div class="bg-border-carousel absolute top-0 right-0 h-full w-20">

        </div>
        <div id="default-carousel" class="relative" data-carousel="slide">
            <!-- Carousel wrapper  -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1  -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <div
                        class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 w-96 p-8 text-start bg-white-uai rounded-3xl">
                        <div class="h-full flex flex-col justify-between">
                            <div class="flex items-center text-purple-uai">
                                <img src="../../../assets/imgs/user_1.svg">
                                <div class="ml-5">
                                    <h4 class="text-2xl font-bold">Nome Completo</h4>
                                    <div class="flex space-x-1">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="text-lg text-black font-semibold">"Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Consequatur doloribus aliquam praesentium."</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 2  -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <div
                        class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 w-96 p-8 text-start bg-white-uai rounded-3xl">
                        <div class="h-full flex flex-col justify-between">
                            <div class="flex items-center text-purple-uai">
                                <img src="../../../assets/imgs/user_2.svg">
                                <div class="ml-5">
                                    <h4 class="text-2xl font-bold">Nome Completo</h4>
                                    <div class="flex space-x-1">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="text-lg text-black font-semibold">"Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Consequatur doloribus aliquam praesentium."</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 3  -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <div
                        class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 w-96 p-8 text-start bg-white-uai rounded-3xl">
                        <div class="h-full flex flex-col justify-between">
                            <div class="flex items-center text-purple-uai">
                                <img src="../../../assets/imgs/user_3.svg">
                                <div class="ml-5">
                                    <h4 class="text-2xl font-bold">Nome Completo</h4>
                                    <div class="flex space-x-1">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                        <img src="../../../assets/imgs/star.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="text-lg text-black font-semibold">"Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Consequatur doloribus aliquam praesentium."</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 4  -->
                <!-- <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="...">
                    </div>  -->
                <!-- Item 5  -->
                <!-- <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                            alt="...">
                    </div>  -->
            </div>
            <!-- Slider indicators  -->
            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="true" aria-label="Slide 1"
                    data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 2"
                    data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 3"
                    data-carousel-slide-to="2"></button>
                <!-- <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false"
                        aria-label="Slide 4" data-carousel-slide-to="3"></button>
                    <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false"
                        aria-label="Slide 5" data-carousel-slide-to="4"></button> -->
            </div>
            <!-- Slider controls  -->
            <button type="button"
                class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 1 1 5l4 4" />
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button"
                class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
    </section>

    <section class="p-12 sm:flex">
        <div class="w-2/3 mx-auto text-center space-y-4 sm:w-1/2 sm:text-start sm:px-4 sm:flex sm:flex-col sm:justify-center">
            <h2 class="text-4xl font-semibold">Redes sociais</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate harum similique quis?</p>
            <div class="space-x-4">
                <i class="fa-brands fa-facebook text-blue-uai bg-white-uai rounded-full text-3xl"></i>
                <i class="fa-brands fa-instagram bg-blue-uai text-white text-3xl"></i>
            </div>
        </div>
        <div class="mt-4 sm:w-1/2">
            <img src="../../../assets/imgs/img_default.svg" class="mx-auto sm:w-full" alt="">
        </div>
    </section>



    <section class="p-12 bg-blue-uai text-white-uai sm:p-20">
        <div class="w-2/3 mx-auto text-center space-y-6">
            <h2 class="text-4xl font-semibold">Chamada para a ação</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident possimus architecto reiciendis.</p>
            <button class="bg-white-uai text-blue-uai py-1 px-5 rounded-md mr-5">Começar</button>
        </div>
    </section>

</main>