<main class="bg-blue-uai grid grid-cols-2">
    <div class="text-white-uai flex flex-col justify-center px-10 pb-40">
        <div class="my-4">
            <h1 class="text-7xl">
                A <span class="font-bold">tecnologia</span> que te <span class="font-bold">entende</span>!
            </h1>
        </div>
        <div class="my-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reprehenderit optio voluptas labore sunt sequi libero quas nostrum architecto accusantium fuga illum dolores explicabo commodi minus dolore at, totam laudantium.
            </p>
        </div>
        <div class="my-4">
            <button class="bg-white-uai text-blue-uai py-1 px-5 rounded-md mr-5">Começar</button>
            <button>Saber mais +</button>
        </div>
    </div>
    <div><img src="../assets/imgs/old-couple.png" alt=""></div>
</main>