<footer class="bg-darkgray-uai text-white-uai py-4 px-24 ">
    <div class="flex flex-col items-center space-y-12 sm:flex-row sm:space-y-0 sm:items-start">
        <div class="flex flex-col items-center space-y-4 text-center sm:text-start sm:items-start sm:w-1/2 ">         
            <div class="flex flex-col items-center space-y-6 sm:w-1/2 sm:items-start">
                <img src="../../../assets/imgs/uAi.svg" alt="" class="w-16 h-12">
                <p>uAI, a tecnologia que te entende.</p>
                <div class="flex gap-2 items-center">
                    <img src="../../../assets/imgs/facebook-icon.svg" class="h-4 w-4 bg-white-uai rounded-full" alt="Icone Facebook"/>
                    <img src="../../../assets/imgs/instagram-icon.svg" class="h-5 w-5" alt="Icone Instagram"/>
                </div>          
            </div>       
        </div>
        <div class="flex flex-col space-y-1 sm:w-1/6 sm:text-start">
            <h4 class="font-bold mb-3">Links</h4>
            <a routerLink="">Inicio</a>
            <a routerLink="sobre-nos">Sobre nós</a>
        </div>
        <div class="flex flex-col space-y-1 sm:w-2/6 sm:text-start">
            <h4 class="font-bold mb-3">Outros links</h4>
            <a href="https://drive.google.com/file/d/1DK5QY4d9nvcdc7x5ZXcg1N5yuGOYX4gS/view">Termos de uso</a>
            <a href="https://drive.google.com/file/d/1EauEiCQV5Uftw3NemPOBcHmffNUOSpqg/view">Política de privacidade</a>
        </div>
    </div>
</footer>