<app-header></app-header>
<main>
    <section
        class="flex justify-center items-center flex-col h-auto sm:h-screen bg-blue-uai px-16 sm:px-64 py-16 gap-y-16">
        <div>
            <h2 class="text-3xl sm:text-6xl text-white-uai font-bold">Sobre nós</h2>
        </div>

        <div>
            <p class="text-md font-semibold sm:text-xl text-center text-white-uai">Oferecemos tranquilidade às mães que enfrentam uma
                rotina agitada e não têm
                tempo para auxiliar seus filhos nas tarefas escolares. Nosso aplicativo de inteligência artificial é
                projetado para proporcionar apoio direto aos estudantes, alinhado com o material didático adotado pela
                escola. Com isso, garantimos que as mães possam focar em suas responsabilidades, confiantes de que seus
                filhos estão recebendo a assistência necessária para ter sucesso acadêmico</p>
        </div>

        <div>
            <button (click)="anchor()" class="bg-white-uai font-bold mx-auto text-blue-uai py-2 px-5 rounded-md sm:px-6 sm:m-0">Conhecer
                mais +</button>
        </div>
    </section>

    <section id="idAnchor">
        <div class="grid grid-cols-1 sm:grid-cols-2 bg-white-uai justify-center items-center">
            <div class="p-8">
                <h2 class="text-2xl sm:text-4xl text-blue-uai font-bold text-center sm:text-start mb-6">Nossa Equipe</h2>
                <p class="text-md font-semibold sm:text-xl text-center sm:text-start">Nossa equipe de 28 colaboradores está unida pelo objetivo comum de tornar
                    a vida das mães e seus
                    filhos mais fácil e eficiente. Trabalhamos em conjunto para desenvolver e aprimorar o uAI,
                    assegurando que atenda precisamente às necessidades específicas dos usuários.</p>
            </div>

            <div class="flex justify-center">
                <img src="../../../assets/imgs/sobre-nos-1.png" alt="imagem dos colaboradores">
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 bg-blue-uai justify-center items-center">
            <div class="flex justify-center sm:order-1 order-2">
                <img src="../../../assets/imgs/sobre-nos-2.png" alt="imagem de um notebook">
            </div>
        
            <div class="p-8 sm:order-2 order-1">
                <h2 class="text-xl sm:text-3xl text-white-uai font-bold text-center sm:text-start mb-6">Nossa Missão</h2>
                <p class="font-semibold text-md sm:text-xl text-white-uai text-center sm:text-start">
                    Fornecemos soluções inovadoras e práticas através do nosso aplicativo,
                    facilitando a vida de nossos clientes e tornando suas tarefas diárias mais eficientes.
                </p>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 bg-white-uai justify-center items-center">
            <div class="p-8">
                <h2 class="text-xl sm:text-3xl text-blue-uai font-bold text-center sm:text-start mb-6">Nossa visão</h2>
                <p class="text-md font-semibold sm:text-xl text-center sm:text-start">Ser a principal plataforma de tecnologia inteligente na nossa região,
                    impulsionando o crescimento e a produtividade local em diversos setores.</p>
            </div>

            <div class="flex justify-center">
                <img src="../../../assets/imgs/sobre-nos-3.png" alt="imagem dos colaboradores">
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 bg-blue-uai justify-center items-center">
            <div class="flex justify-center p-8 sm:order-1 order-2">
                <img src="../../../assets/imgs/sobre-nos-4.png" alt="imagem dos colaboradores">
            </div>

            <div class="p-8 sm:order-2 order-1">
                <h2 class="text-xl sm:text-3xl font-bold text-white-uai text-center sm:text-start mb-6">Nossos valores</h2>
                <ul class="text-center sm:text-start">
                    <li class="text-md font-semibold sm:text-xl text-white-uai">● Flexibilidade;</li>
                    <li class="text-md font-semibold sm:text-xl text-white-uai">● Diálogo;</li>
                    <li class="text-md font-semibold sm:text-xl text-white-uai">● Transparência;</li>
                    <li class="text-md font-semibold sm:text-xl text-white-uai">● Integridade;</li>
                    <li class="text-md font-semibold sm:text-xl text-white-uai">● Qualidade;</li>
                    <li class="text-md font-semibold sm:text-xl text-white-uai">● Inovação.</li>
                </ul>
            </div>
        </div>
    </section>

    <section
        class="flex justify-center items-center flex-col h-auto sm:h-screen bg-white-uai px-6 sm:px-64 py-16 gap-y-8">
        <div>
            <h2 class="text-2xl sm:text-5xl text-blue-uai font-bold">Uai, pronto para testar?</h2>
        </div>

        <div id="teste">
            <p class="text-md font-semibold sm:text-xl text-center">Pronto para aliviar o peso das tarefas escolares e garantir o
                sucesso acadêmico do seu filho? Experimente agora mesmo nosso aplicativo de IA e veja como podemos
                ajudar vocês dois! Acesse o sistema e dê o primeiro passo rumo a uma rotina mais tranquila e produtiva.
            </p>
        </div>

        <div>
            <button [routerLink]="['/login-cadastro']" class="bg-blue-uai font-bold mx-auto text-white-uai py-2 px-5 rounded-md sm:px-6 sm:m-0">Acessar
                agora</button>
        </div>
    </section>
</main>
<app-footer></app-footer>